.correcta{
    animation: background-color 0.5s ;
    background-color: green !important;
}

.incorrecta{
    animation: background-color 0.5s ;
    background-color: red !important;
}

.disabled{
    height: 21px;
}

.disabled:hover{
    background-color: inherit !important;
    cursor: context-menu !important;
}

.respuesta{
    transform: translateX(0px);
}